// About style overrides
// ---

.profile-image {
  width: 100%;
  height: 400px;
  background-image: url("../../images/profile.jpg");
  background-size: 425px auto;
  background-repeat: no-repeat !important;
  margin-top: 5px;
}

.about {
  p {
    line-height: 1.4;
    margin-bottom: 1.5em;
  }
}
