// Configuration for allenc style overrides

$header-font-family: "Lato", Arial, sans-serif;
$title-font-family: "Titillium Web", "Arial Narrow", sans-serif;
$para-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$monospace-font-family: "Source Sans", Inconsolata, Courier, monospace;

// Flat colors
$color-turq: #1abc9c;
$color-turq-dark: #16a085;
$color-green: #2ecc71;
$color-green-dark: #27ae60;
$color-blue: #3498db;
$color-blue-dark: #2980b9;
$color-purple: #9b59b6;
$color-purple-dark: #8e44ad;
$color-navy: #34495e;
$color-navy-dark: #2c3e50;
$color-yellow: #f1c40f;
$color-yellow-dark: #f39c12;
$color-orange: #e67e22;
$color-orange-dark: #d35400;
$color-red: #e74c3c;
$color-red-dark: #c0392b;
$color-white: #ecf0f1;
$color-white-dark: #bdc3c7;
$color-grey: #95a5a6;
$color-grey-dark: #7f8c8d;

$color-home: #A60000;
$color-articles: #A64B00;
$color-archives: #006363;
$color-about: #008500;
$color-rss: #ff7f25;
$color-twitter: #46c0fb;
$color-googleplus: #dd4b39;
$color-linkedin: #0083a8;
$color-quora: #a82400;
$color-github: #fbfbfb;
