// Post style overrides
// ---

// Post Slider

.h-featured {
  text-transform: none;
}

// Post landmark title

.x-header-landmark {
  padding-top: 1em;
  padding-bottom: 1.25em;
  .h-landmark {
    font-size: 150%;
  }
}

// Header

.entry-title {
  line-height: 1.3;
}
h1.entry-title { font-size: 180%; margin-bottom: 20px; }
h2.entry-title { font-size: 140%; }

p.p-meta {
  a {
    font-weight: bold;
  }
}
.blog p.p-meta { margin-top: 0.5em; }

// Post body

.blog .entry-content.excerpt {
  margin-top: 0.2em;
  line-height: 1.4;
  font-size: 16px;
}

.entry-content.content {
  p {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 1.5em;
    &:last-child { margin-bottom: 0; }
  }

  a {
    // text-decoration: underline;
    @include linkUnderlines(#fff, #2980b9);
  }

  ul, ol {
    margin-bottom: 1.5em;

    li {
      line-height: 1.4;
      margin-bottom: 0.5em;
    }
  }

  blockquote {
    margin: 1.5em 1.5em;
    font-family: $para-font-family;
    font-weight: 300;
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    border-bottom: none;
    padding: 0.5em 0 0.5em 1em;
    quotes: "“" "”";
    position: relative;

    &:before {
      content: open-quote;
      font-size: 3em;
      color: rgba(0, 0, 0, 0.2);
      position: absolute;
      left: -0.5em;
      top: -0.4em;
    }
  }
}

// Footnotes

.entry-content {
  #footnote-list, .footnotes {
    ol {
      font-size: 16px;
    }
  }

  .bigfoot-footnote__content p { font-size: 16px; }
}

// Disqus
.x-main > article.post.type-post.hentry {
  margin-bottom: 1.5em;
}
