.page,
.single-post {
  .x-main {
    &.left .hentry .entry-featured {
      margin-top: 0 !important;
    }
  }
}

.x-header-landmark {
  display: none;
}

body.x-child-theme-active {
  color: #3b3b3b;
  background-image: url("../../images/satinweave.png");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  body.x-child-theme-active {
    background-image: url("../../images/satinweave_@2X.png");
    background-size: 24px 12px;
  }
}

 h1 { font-size: 170%; }
 h2 { font-size: 155%; }
 h3 { font-size: 140%; }
 h4 { font-size: 120%; }
 h5 { font-size: 110%; }
 h6 { font-size: 100%; }
